html, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #222428;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 600ms;
}
.dark-mode {
    background-color: rgb(230, 230, 230);
    color: rgb(21, 21, 21);
  }
.SearchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
#SearchBar {
    background-color: #222428;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vmin; width: 75vmin;
    border-radius: 100vmin;
    border: solid .2vmin #636498;
    transition: all 300ms;
}
#SearchBar:hover {
    background-color: #2F3136;
    border: .2vmin solid #636498;
    box-shadow: 0px 0px 10px 0px #000000;
}
#SearchBar:has(> input:focus) {
    background-color: #3f3f68;
    border: .2vmin solid #636498;
    box-shadow: 0px 0px 10px 0px #000000;
}
input {
    
    height:6vmin; width: 70vmin;
    background-color: transparent;
    color: white;
    font-size: 2.5vmin;
    outline: none;
    border: none;
}

input:focus {
    outline: none;
}
#Buttons {
    margin-top: 5vmin;
}
#search {
    background-color: #3F3F65;
    border: .2vmin solid #636494;
    color: white;
    font-size: 2vmin;
    border-radius: .7vmin;
    height: 5vmin; width: auto;
    padding-left: 2vmin;
    padding-right: 2vmin;
    transition: all 300ms;
}
#search:hover {
    background-color: #636494;
    border: solid .2vmin #3F3F65;
}
img {
    height: 13vmin;
    width: 13vmin;
    margin-bottom: 2vmin;
}
#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vmin;
    padding: 2vmin;
    background: #636498;
    background-size: cover;
    border-radius: .8vmin;
    transition: all 600ms ease;
}
#name {
    padding: .5vmin;
    border-radius: 4px;
    color: white;
    font-size: 3.5svmin;
    background-color: #3f3f657f;
    transition: all 600ms ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#mac {
    padding: .5vmin;
    border-radius: 4px;
    background-color: #3f3f657f;
    transition: all 600ms ease;
}
@media only screen and (max-width: 700px) and (max-height: 999px) {
    body {
       margin: 0;
       padding: 0;
    }
    #SearchBar {
       width: 95%;
       height: 11vmin;
    }
    input {
        width: 93%;
       height: 12vmin;
       font-size: 3.5vmin;
    }
    button {
        height: 10vmin; width: auto;
        font-size: 4vmin;
    }
    #logo {
        margin-bottom: 150px;
        padding: 2vmin;
        padding-right: 2vmin;
        background: #00000073;
        border-radius: .7vmin;
        transition: all 600ms ease;
        scale: 150%;
    }
 }
 #credit {
    position: absolute;
    bottom: .4vmin;
    color: grey;
 }